.slider-pro {
    font-family: 'Open Sans', Arial;
}

/* Example 1 */

#slider-metod .sp-thumbnail {
	width: 100%;
	padding: 8px;
	background-color: #F0F0F0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#slider-metod .sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #333;
	text-align:center;
}

#slider-metod .sp-thumbnail-description {
	font-size: 14px;
	color: #333;
}

@media (max-width: 860px) {
	#slider-metod .hide-medium-screen {
		display: none;
	}
}

@media (max-width: 640px) {
	#slider-metod .sp-layer {
		font-size: 12px;
		
	}

	#slider-metod .hide-small-screen {
		display: none;
		text-align:center;
		}
}

@media (max-width: 500px) {
	#slider-metod .sp-thumbnail {
		text-align: center;
	}

	#slider-metod .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
		text-align:center;
	}

	#slider-metod .sp-thumbnail-description {
		display: none;
	}
}


#slidedos .sp-slides-container {
	background-color: #b0b0b0;
}
#slidedos p {
margin: 0 0 30px 0;
}

#slidedos .sp-thumbnail-container {
	width: 200px;
	height: 130px;
	overflow: hidden;
	margin-bottom: 10px;
}

#slidedos .sp-image-text {
	background: rgba( 80, 80, 80, 0.5 );
	color: #FFF;
	padding: 20px;
}
.links {
	text-align: center;
	margin-top: 10px;
}
